@model List<DinossauroModel>
@{
    ViewData["Title"] = "Dinossauros";
}


<div class="text-center">

    <h1 class="display-4">Lista de Dinossauros</h1>
    <br />

    <div class="">
        <a class="btn btn-primary btn-block" role="button" asp-controller = "Dinossauro" asp-action = "Criar">Adicionar Novo Dinossauro</a>
    </div>

    <br />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Altura</th>
                <th scope="col">Peso</th>
                <th scope="col">Alimentacao</th>
                <th scope="col">Era</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (DinossauroModel dinossauro in Model)
                {
                    <tr>
                        <th scope="row">@dinossauro.Id</th>
                        <td>@dinossauro.Nome</td>
                        <td>@dinossauro.Altura</td>
                        <td>@dinossauro.Peso</td>
                        <td>@dinossauro.Alimentacao</td>
                        <td>@dinossauro.Era</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-success" asp-route-id="@dinossauro.Id" asp-controller="Dinossauro" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@dinossauro.Id" asp-controller="Dinossauro" asp-action="DeletarConfirmacao">Deletar</a>
                            </div>
                        </td>

                    </tr>
                }
            }
        </tbody>
    </table>

</div>
    